.inputAddText {
         margin-left: 5px;
         appearance: none;
         border: none;
         outline: none;
         border-bottom: .2em solid #dfbb61;
         background: rgba(69, 52, 10, 0.2);
         border-radius: .2em .2em 0 0;
         padding: .4em;
         color: #000000;
     }
.inputAddLink {
    margin-left: 6%;
    appearance: none;
    border: none;
    outline: none;
    width: 50%;
    border-bottom: .2em solid #dfbb61;
    background: rgba(69, 52, 10, 0.2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #000000;
}
.inputAddNumber {
    margin-left: 10px;
    place-content: center;
    width: 3em;
    padding: 0.5em;
    border: .2em solid #dfbb61;
    border-radius: 1em;
    text-align: center;
    align-content: center;

    color: #000000;
    appearance: textfield;
    &::-webkit-inner-spin-button {
        opacity: 1;
        background-color: #eaa000;
    }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
.centeredButton{
    display: flex;
    justify-content: center;
}
.hourglass{
    animation: hourglass 1.6s ease-in-out infinite;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
    @keyframes hourglass {
        0% {
            transform: rotateX(0deg);
        }
        50% {
            transform: rotateX(180deg);
        }
        70% {
            transform: rotateX(180deg);
        }
        100% {
            transform: rotateX(0deg);
        }
    }

