.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
.button1 {
  border-style: solid;
  border-radius: 60%;
  border-color: black;
  background-color: #313e53;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 10%;
}

.button2{
  border-style: solid;
  border-radius: 10%;
  font-weight: bold;
  border-color: black;
  background-color: #eaa000;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;

}

.buttonClose{
  border-style: solid;
  border-radius: 10%;
  font-weight: bold;
  border-color: black;
  background-color: #eaa000;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.buttonClose:hover{
  background-color: #a31919;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.buttonTp {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.buttonAddCart {
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  background-color: #eaa000;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 10%;
}

.buyNowButton{
  position: fixed;
  color: #eaa000;
  font-style: oblique;
  bottom: 20px;
  right: 20px;
  align-items: center;
  background-color: transparent;
  border: 1px solid #eaa000;
  border-radius: 15px;
  padding: 10px;
  z-index: 1000;
  cursor: pointer;
}
.buyNowButton:hover{
  background-color: rgba(234, 160, 0, 0.58);
  color: black;
}
.imageCard {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.imageCard:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
